:root {
  --custom-background-color: #ffff64;
}
body {
  margin: 0;
}
#top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  top: 0;
  background-color: var(--custom-background-color);
}
#search_bar > img {
  height: 15px;
  width: 15px;
  position: absolute;
  cursor: grab;
  right: 5px;
  top: 3px;
}
#search_bar {
  position: relative;
  margin-left: 2%;
  /* font-weight: 300;
  font-family: "Times New Roman", Times, serif; */
}

#action-buttons {
  display: flex;
}
.action-buttons-signup > a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.genius-text {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--custom-background-color);
  text-shadow: -5px 1px 0px black, 0 0 0, 0 0 0;
}

#bottom-header-container {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 41px;
  align-items: center;
}

.bottom-header-content {
  margin: 0 20px;
}
.insider {
  border-left: 1px solid lightgrey;
}
.bottom-header-content > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}

.bottom-header-content > a > .fa {
  margin: 0 10px;
}
#top-main-news-container {
  display: flex;
  height: 400px;
  position: relative;
  justify-content: space-around;
  width: 100%;
}

.news {
  width: 700px;
}
.news.one {
  font-size: 15px;
  margin: 50px auto;
  text-transform: uppercase;
  position: relative;
}
.news.one::after {
  content: "";
  display: block;
  width: 550px;
  height: 2px;
  background: black;
  right: 10%;
  top: 40%;
  position: absolute;
}
.news.two {
  font-size: 35px;
  text-transform: capitalize;
  position: relative;
  top: -10%;
  width: 650px;
  margin-right: 3px;
  justify-content: center;
}
.news.three {
  font-size: 20px;
  position: relative;
  top: -10%;
  width: 650px;
}
.news.four {
  font-size: 15px;
  width: 650px;
  text-align: left;
}
.news.four > span {
  font-size: 10px;
}
#news-content {
  width: 35%;
  height: 30%;
}
#news-content > video {
  margin: 10px 0;
  margin-right: 30px;
  width: 100%;
  /* height: auto; */
}

#bottom-main-news-container {
  /* helps to create containers inside of containers*/
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-template-areas: "a b c d";
  column-gap: 20px;
}
.bm-header {
  font-size: 10px;
  text-transform: uppercase;
  margin: 20px;
}
.bm-news-article {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
.bm-author {
  display: flex;
  justify-content: left;
  font-size: 10px;
  /* margin-top: 40px; */
  margin: 0 20px;
}
.bm-author-date {
  color: grey;
}
.bm-news-video {
  width: 100%;
  height: 100%;
  margin: 20px;
}
#bm-news-container-one {
  grid-area: a;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#bm-news-container-two {
  display: flex;
  flex-direction: column;
}
.bm-lazy {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 280px;
  transform: rotate(90deg);
  transition: rotate 4s;
}
.bm-lazy:hover {
  transform: rotate(720deg);
}
#bm-news-container-two {
  grid-area: b;
  display: flex;
}
#bm-news-container-three {
  grid-area: c;
  display: flex;
}
#bm-news-container-four {
  grid-area: d;
  display: flex;
}
