:root {
  --custom-background-color: #ffff64;
}
body {
  margin: 0;
}
#top-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  top: 0;
  background-color: var(--custom-background-color);
}
#search_bar > img {
  height: 15px;
  width: 15px;
  position: absolute;
  cursor: grab;
  right: 5px;
  top: 3px;
}
#search_bar {
  position: relative;
  margin-left: 2%;
  /* font-weight: 300;
  font-family: "Times New Roman", Times, serif; */
}

#action-buttons {
  display: flex;
}
.action-buttons-signup > a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.genius-text {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--custom-background-color);
  text-shadow: -5px 1px 0px black, 0 0 0, 0 0 0;
}

#bottom-header-container {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 41px;
  align-items: center;
}

.bottom-header-content {
  margin: 0 20px;
}
.insider {
  border-left: 1px solid lightgrey;
}
.bottom-header-content > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 10px;
}

.bottom-header-content > a > .fa {
  margin: 0 10px;
}
#top-main-news-container {
  display: flex;
  height: 400px;
  position: relative;
  justify-content: space-around;
  width: 100%;
}

.news {
  width: 700px;
}
.news.one {
  font-size: 15px;
  margin: 50px auto;
  text-transform: uppercase;
  position: relative;
}
.news.one::after {
  content: "";
  display: block;
  width: 550px;
  height: 2px;
  background: black;
  right: 10%;
  top: 40%;
  position: absolute;
}
.news.two {
  font-size: 35px;
  text-transform: capitalize;
  position: relative;
  top: -10%;
  width: 650px;
  margin-right: 3px;
  justify-content: center;
}
.news.three {
  font-size: 20px;
  position: relative;
  top: -10%;
  width: 650px;
}
.news.four {
  font-size: 15px;
  width: 650px;
  text-align: left;
}
.news.four > span {
  font-size: 10px;
}
#news-content {
  width: 40%;
  height: 40%;
}
#news-content > video {
  margin-top: 30px;
  margin-right: 30px;
  width: 100%;
}

#bottom-main-news-container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* width: 100%; */
}

.more-news-one {
  width: 100%;
}
.more-news-one > video {
  width: 100%;
}
.more-news-two {
  width: 100%;
}
.more-news-two > img {
  width: 100%;
}
.more-news-three {
  width: 100%;
}
